name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-qemu-action@v3
      - id: buildx
        uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - uses: docker/bake-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          targets: app-release
        env:
          DOCKER_TAG: test
      - uses: docker/bake-action@v6
        with:
          load: true
          builder: ${{ steps.buildx.outputs.name }}
        env:
          DOCKER_TAG: test
      - uses: actions/checkout@v6
      - run: docker compose run --rm gatsby
